<div id="search" class="input-group top-search hidden-md-down">
	<div class="box-search">
		<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
		<span class="btn-search">
			<button type="button" class="waves-effect"><img src="catalog/view/theme/default/images/icons/search.png" alt=""></button>
		</span>
	</div>
</div>