<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="assets/img/back-top.png" class="back-top" onclick="backTop()">
        </div>
    </div>
</div>
<div class="container-fluid footer-box">
    <div class="container menu-padding">
        <div class="row">
            <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12154.961426664478!2d49.88385725!3d40.3924468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d30833d972d%3A0x47e813ce6ab12211!2zWsmZZsmZcmFuIEhvc3BpdGFs!5e0!3m2!1saz!2s!4v1554181376445!5m2!1saz!2s" frameborder="0" style="border:0;width: 100%;height: 350px;" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <p class="footer-information">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from “de Finibus Bonorum et Malorum” by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
            </div>
            <div class="col text-right">
                <ul class="footer-contact">
                    <li>2901 COLUMBIA PK ARLINGTON, VA22204</li>
                    <li>CALL: (703) 566-4173</li>
                    <li>email: info@caspilounge.com</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <h4 class="footer-head">FOLLOW ALONG</h4>
                <ul class="social-box">
                    <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i> </a></li>
                    <li><a href="javascript:void(0);"><i class="fab fa-facebook"></i> </a></li>
                    <li><a href="javascript:void(0);"><i class="fab fa-youtube-square"></i> </a></li>
                    <li><a href="javascript:void(0);"><i class="fab fa-tripadvisor"></i> </a></li>
                    <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i> </a></li>
                </ul>
            </div>
            <div class="col text-center">
                <h4 class="footer-head">SUBSCRIBE TO OUR NEWSLETTER</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>Copyright © 2019 CASPI LOUNGE . Website by CASPI AGENCY</p>
            </div>
        </div>
    </div>
</div>
