<div class="container-fluid padding-clear">
    <ul id="home-slider">
        <li>
            <img src="assets/img/home-slide.png"/>
            <div class="container home-slide-info">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>

                        <a href="javascript:void(0);" class="rounded-btn">
                            RESERVATION
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="assets/img/home-slide.png"/>
            <div class="container home-slide-info">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                            Ipsum.
                        </p>

                        <a href="javascript:void(0);" class="rounded-btn">
                            RESERVATION 2
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="tri" onclick="tri()"></div>
