<ul class="main-menu">
    <li><a href="./">ana səhİfə</a></li>
    <li class="active"><a href="doctors-category">HƏkİmlƏr</a></li>
    <li>
        <a href="javascript:void(0);">bələdçİ <span class="fa fa-caret-down"></span> </a>
        <ul class="big-menu">
            <li><a href="clinics">Xəstəxanalar</a></li>
            <li><a href="pharmacies">Apteklər</a></li>
            <li><a href="cosmetologycenters">Kosmetoloji mərkəzlər</a></li>
            <li><a href="javascript:void(0);">Laborotoriyalar</a></li>
            <li><a href="javascript:void(0);">Hamiləlik və süni</a></li>
            <li><a href="javascript:void(0);">mayalanma mərkəzləri</a></li>
            <li><a href="javascript:void(0);">Xaricdə müalicə</a></li>
            <li><a href="javascript:void(0);">Sanatoriyalar</a></li>
            <li><a href="javascript:void(0);">Reabilitasiya mərkəzləri</a></li>
            <li><a href="javascript:void(0);">Fitness klublar</a></li>
            <li><a href="javascript:void(0);">İdman zalları</a></li>
            <li><a href="javascript:void(0);">Xaricdə tibbi təhsil</a></li>
            <li><a href="javascript:void(0);">Xaricdə müalicə</a></li>
            <li><a href="javascript:void(0);">Tibbi sığorta</a></li>
        </ul>
    </li>
    <li><a href="actions">Aksİyalar</a></li>
    <li><a href="veterinarian">Veterİnarlar</a></li>
    <li><a href="turkecare">TÜrkƏÇarƏ</a></li>
    <li>
        <a href="javascript:void(0);">Onlayn mağaza <span class="fa fa-caret-down"></span></a>
        <ul>
            <li><a href="library">Kitabxana</a></li>
            <li><a href="equipment">Avadanlıqlar</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:void(0);">BLOQ <span class="fa fa-caret-down"></span></a>
        <ul>
            <li><a href="blog">Dərmanların kataloqu</a></li>
            <li><a href="blog">Gigiyenik vasitələr</a></li>
            <li><a href="blog">Uşaq qidaları</a></li>
            <li><a href="blog">Heyvan qidaları</a></li>
        </ul>
    </li>
    <li><a href="news">Xəbərlər</a></li>
</ul>