<div class="container-fluid navigation-menu">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="./">
                    <img src="assets/img/logo.png">
                </a>
            </div>
            <div class="col-9 align-self-center">
                <ul class="nav-menu">
                    <li class="active"><a href="javascript:void(0);">HOME</a></li>
                    <li><a href="javascript:void(0);">RESERVATION </a></li>
                    <li><a href="javascript:void(0);">MENU</a></li>
                    <li><a href="javascript:void(0);">CATERING</a></li>
                    <li><a href="javascript:void(0);">PRIVATE EVENTS</a></li>
                    <li class="nav-round"><a href="javascript:void(0);">ORDER</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
